{% extends 'base.html.twig' %}
{# {% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/workshop.css"/>

{% endblock %} #}
{% block title %}
Atelier
    {{ workshop.name }}
{% endblock %}


{% block body %}

    <main>
        <section id="eventImage">
            <h1>{{ workshop.name }}</h1>
            <h4>

               édition: {{ workshop.edition.year}}
            </h4>
            
                {% if workshop.universityRoom.capacity is same as(nbParticipant) %}
                    <button type="button" class="btn btn-warning participer" data-toggle="modal"
                            data-target="#Modal{{ workshop.id }}" disabled>Participer
                    </button>
                    <p>L'évènement est complet</p>
                {% else %}
                    <a href="{{ path('app_workshop_registration_public_show', {'id': workshop.id}) }}" class="btn btn-warning participer">Participer
                    </a>
                {% endif %}

        
        </section>
        <section id="infos">
            <div class="tags d-flex align-items-center justify-content-center py-4">
                <span class="tags-items px-3 py-1 mx-2">Places disponibles :
					{{nbParticipant}}/{{ workshop.universityRoom.capacity }}
				</span>
                <span class="tags-items px-3 py-1 mx-2">
					salle : {{ workshop.universityRoom.name }}
				</span>

                
            </div>
        </section>
        {# Message succes participation #}
        {# {% if successParticiper %}
            <div class="alert alert-warning m-auto mt-2 col-3">
                {{ successParticiper }}
            </div>
        {% endif %} #}

        {# Message login pour participer #}
        {# {% if noConnectedMessage %}
            <div class="alert alert-warning m-auto mb-4 col-4">
                {{ noConnectedMessage }}
                <a class="btn btn-secondary m-auto" style="color:white" href="/login">Se connecter</a>
            </div> #}

        {# {% endif %} #}
        <section id="description">

            <h2>Description de l'atelier</h2>
            <hr>
            <p class="text-center ">
             {# {{ evenement.description }} #}
             description
             </p>
            <hr>
        </section>


        {# {% include 'utils/pop-up/participer_evenement_model.html.twig' %}
        {% include 'utils/pop-up/ne_plus_participer_evenement_model.html.twig' %}
        {% include 'maps/maps_show.html.twig' %} #}
    </main>
{% endblock %}