<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark px-5">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link text-white" aria-current="page" href="{{path('app_index')}}">Accueil</a>
				<a class="nav-link text-white" href="{{path('app_workshop_public_index')}}">Ateliers</a>
				<a class="nav-link text-white" href="{{path('app_login')}}">Contact</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a class="nav-link text-white" href="{{path('app_monitoring')}}">Monitoring</a>
					<a class="nav-link text-white" href="{{path('app_admin')}}">Administration</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div id="granted">
		{% if is_granted('IS_AUTHENTICATED') %}

			<a class=" btn btn-outline-secondary text-white" href="{{ path('app_student_show_profile') }}">{{app.user.firstName}}</a>
			<a class=" btn btn-outline-secondary text-white" href="{{path('app_logout')}}">Déconnexion</a>
		{% else %}
			<a class=" btn btn-outline-secondary text-white" href="{{path('app_login')}}">Connexion</a>
			<a class=" btn btn-outline-secondary text-white" href="{{path('app_register')}}">S'inscrire</a>
		{% endif %}
	</div>

</nav>
