{% extends 'base.html.twig' %}

{% block title %}PossibleAnswer index{% endblock %}

{% block body %}
    <h1>PossibleAnswer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Answer</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Balise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for possible_answer in possible_answers %}
            <tr>
                <td>{{ possible_answer.id }}</td>
                <td>{{ possible_answer.type }}</td>
                <td>{{ possible_answer.answer }}</td>
                <td>{{ possible_answer.createdAt ? possible_answer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ possible_answer.updatedAt ? possible_answer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ possible_answer.balise }}</td>
                <td>
                    <a href="{{ path('app_possible_answer_show', {'id': possible_answer.id}) }}">show</a>
                    <a href="{{ path('app_possible_answer_edit', {'id': possible_answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_possible_answer_new') }}">Create new</a>
{% endblock %}
