{% extends 'admin/base_admin.html.twig' %}

{% block title %}Section{% endblock %}

{% block body %}
    <h1>Section</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ section.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ section.label }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ section.createdAt ? section.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ section.updatedAt ? section.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_section_index') }}">back to list</a>

    <a class="btn btn-warning" href="{{ path('app_section_edit', {'id': section.id}) }}">edit</a>

    {{ include('admin/section/_delete_form.html.twig') }}
{% endblock %}
