<!DOCTYPE html>

<title>Workshop index</title>

{% block body %}
    <h1>Workshop index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workshop in workshops %}
            <tr>
                <td>{{ workshop.id }}</td>
                <td>{{ workshop.name }}</td>
                <td>{{ workshop.createdAt ? workshop.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ workshop.updatedAt ? workshop.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_workshop_show', {'id': workshop.id}) }}">show</a>
                    <a href="{{ path('app_workshop_edit', {'id': workshop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_workshop_new') }}">Create new</a>
{% endblock %}
