{% extends 'admin/base_admin.html.twig' %}

{% block title %}Liste - Salles
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<h1>Liste des salles
		</h1>

		<div class="content">
			<div class="actions">
				<a class="btn btn-success" href="{{ path('app_university_room_new') }}">Ajouter +
				</a>
				<a class="btn btn-primary" href="{{ path('app_admin') }}">Retour</a>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Etage</th>
						<th>Capacité</th>
						<th>CreatedAt</th>
						<th>UpdatedAt</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for university_room in university_rooms %}
						<tr>
							<td>{{ university_room.id }}</td>
							<td>{{ university_room.name }}</td>
							<td>{{ university_room.stage }}</td>
							<td>{{ university_room.capacity }}</td>
							<td>{{ university_room.createdAt ? university_room.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ university_room.updatedAt ? university_room.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								<a class="btn btn-primary" href="{{ path('app_university_room_show', {'id': university_room.id}) }}">Voir</a>
								<a class="btn btn-warning" href="{{ path('app_university_room_edit', {'id': university_room.id}) }}">Editer</a>
								{{ include('admin/university_room/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">Pas de données trouvées</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}
