{% extends 'admin/base_admin.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <h1>Registration</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ registration.id }}</td>
        </tr>
        <tr>
            <th>RegisterAt</th>
            <td>{{ registration.registerAt ? registration.registerAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary"  href="{{ path('app_registration_workshop_index') }}">back to list</a>

    <a class="btn btn-warning"  href="{{ path('app_registration_workshop_edit', {'id': registration.id}) }}">edit</a>

    {{ include('admin/registration_workshop/_delete_form.html.twig') }}
{% endblock %}