{% extends 'base.html.twig' %}

{% block title %}Speaker index{% endblock %}

{% block body %}
    <h1>Speaker index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Mail</th>
                <th>Phone</th>
                <th>Compagny</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for speaker in speakers %}
            <tr>
                <td>{{ speaker.id }}</td>
                <td>{{ speaker.firstName }}</td>
                <td>{{ speaker.lastName }}</td>
                <td>{{ speaker.mail }}</td>
                <td>{{ speaker.phone }}</td>
                <td>{{ speaker.compagny }}</td>
                <td>{{ speaker.createdAt ? speaker.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ speaker.updatedAt ? speaker.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_speaker_show', {'id': speaker.id}) }}">show</a>
                    <a href="{{ path('app_speaker_edit', {'id': speaker.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_speaker_new') }}">Create new</a>
{% endblock %}
