{% extends 'admin/base_admin.html.twig' %}

{% block title %}Speaker{% endblock %}

{% block body %}
    <h1>Speaker</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ speaker.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ speaker.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ speaker.lastName }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ speaker.mail }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ speaker.phone }}</td>
            </tr>
            <tr>
                <th>Compagny</th>
                <td>{{ speaker.compagny }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ speaker.createdAt ? speaker.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ speaker.updatedAt ? speaker.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_speaker_index') }}">back to list</a>

    <a class="btn btn-warning" href="{{ path('app_speaker_edit', {'id': speaker.id}) }}">edit</a>

    {{ include('admin/speaker/_delete_form.html.twig') }}
{% endblock %}
