{% extends 'admin/base_admin.html.twig' %}

{% block title %}Liste - Compétences
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<h1>Liste des compétences</h1>

		<div class="content">
			<div class="actions">
				<a class="btn btn-success" href="{{ path('app_skill_new') }}">Ajouter
				</a>
				<a class="btn btn-primary" href="{{ path('app_admin') }}">Retour</a>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Compétences</th>
						<th>CreatedAt</th>
						<th>UpdatedAt</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for skill in skills %}
						<tr>
							<td>{{ skill.id }}</td>
							<td>{{ skill.name }}</td>
							<td>{{ skill.createdAt ? skill.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ skill.updatedAt ? skill.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								<a class="btn btn-primary" href="{{ path('app_skill_show', {'id': skill.id}) }}">Voir</a>
								<a class="btn btn-warning" href="{{ path('app_skill_edit', {'id': skill.id}) }}">Editer</a>
								{{ include('admin/skill/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">Pas de données trouvées</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}
